<footer class="bg-dark text-light bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <small>&copy; Shahadat Hossain</small><br>
        <small>Contact: <a class="text-decoration-none text-white" href="mailto:shahadathossain8721@gmail.com">shahadathossain8721@gmail.com</a></small> <br>
        <p style="font-size: 25px; display: inline-block; margin-left: 30px"> <a [attr.href]="['https://linkedin.com/in/shahadathossain3']" style="text-decoration: none;" class="text-white"> <fa-icon [icon]="faLinkedin"></fa-icon></a> </p>
        <p style="font-size: 25px; display: inline-block; margin-left: 15px;"> <a [attr.href]="['https://github.com/shahadathossain3']" style="text-decoration: none;" class="text-white"> <fa-icon [icon]="faGithub"></fa-icon></a> </p>
        <p style="font-size: 25px; display: inline-block; margin-left: 15px;"> <a [attr.href]="['https://facebook.com/shahadat.arman.7']" style="text-decoration: none;" class="text-white"> <fa-icon [icon]="faFacebook"></fa-icon></a> </p>
        <p style="font-size: 25px; display: inline-block; margin-left: 15px;"> <a [attr.href]="['https://twitter.com/shahadatarman7']" style="text-decoration: none;" class="text-white"> <fa-icon [icon]="faTwitter"></fa-icon></a> </p>
      </div>
    </div>
  </div>
</footer>

